* {
  margin: 0;
  padding: 0;
  font-family: 'Exo 2';
}
body {
  line-height: 30px;
  font-size: 20px;
  font-weight: 600;
}
header {
  background: url("../images/aiHeader.jpg");
  background-size: cover;

}

main {
  position: relative;
  line-height: 40px;
}

#bgImg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url('../images/aibg.jpg');
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
h1 {
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  color: black;
}
h2  {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 50px;
  background-color: #4507E8;
  color: white;
}

h3  {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}
div {
  /* padding: 10px; */
}
nav {
  display: block;
  width: 100%;
  padding-top: 5px;
  background-color: black;
  height: 40px;
}

nav a {
  display: inline-block;
  color: white;
  font-family: Monoton;
  padding: 5px 10px;
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
}
a.currentNav {
  color: yellow;
}

#indexLink:hover {
  color: red;

}

#mlLink:hover {
  color: red;

}

#aiLink:hover {
  color: red;

}

#resourceLink:hover {
  color: red;

}


figure {
  display: inline-block;
  width: 350px;
  height: 300px;
  /* position: absoluter; */
}

#ocI {
    border: 5px solid #4507E8;
}

#ocI:hover {
  border: 5px solid black;
}

#scI {
    border: 5px solid #4507E8;
}

#scI:hover {
  border: 5px solid black;
}

figure img {
  width: 100%;
  height: 100%;
}

#aiGeneral {
    padding: 40px 50px;
}

#ImageGrid {
  /* background-color: #AD1AE8; */
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
  grid-template-areas: "car . ocr";
  grid-column-gap: 5px;
  grid-row-gap: 20px;
  padding: 20px 50px;
}

#selfCarImg {
  grid-area: car;
}

#ocrImg {
  grid-area: ocr;
}


#apps {
  padding-right: 50px;
  padding-left: 50px;
}
